.blueList {
    color: blue;
}

.redList {
    color: brown;
}

.itemverde {
    color: green;
}

.itemamarelo {
    color: yellow;
}

.itemlaranja {
    color: orange;
}

.itemrosa {
    color: rgb(207, 32, 169);
}